:root {
--primaryBrand: #4d5ae5;
--pressedState: #404bbf;
--dark: #2e2f42;
--success: #31ddaa;
--text: #434455;
--subtleText: #8e8f99;
--accent: #e7e9fc;
--light: #f4f4fd;
--modalOverlay: rgb(46, 47, 66, 0.4);
--heroBackground: rgb(46, 47, 66, 0.7);
--hero: #ffffff;
--body: #e5e5e5;
}

body {
font-family: 'Roboto', sans-serif;
background-color: var(--hero);
color: var(--dark);


}

/*--Common--*/

.current {
    color: var(--pressedState);
    
}
.link {
    text-decoration: none;
  }

  .list-item {
    list-style-type: none;

  }

  .hero-button,
  .filter-button {
    border-radius: 4px; 
  }
/*--Header--*/
.line {
    box-sizing: border-box;
border-bottom: 1px solid #E7E9FC;
}

.accent-logo {
    color: var(--primaryBrand);
}

.logo {
    color: var(--dark);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.nav-item {
    color:var(--dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-item:hover,
.nav-item:focus {
    color: var(--pressedState);
}


/*--Contacts--*/
.contacts-item {
color: var(--text);
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.contacts-item:hover,
.contacts-item:focus {
    color: var(--pressedState);
}

/*--Hero--*/

.hero {
    background-color: var(--dark);
}


.hero-text {
    color: var(--hero);
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    letter-spacing: 0.02em;
   
    
}

.hero-button {
    color: var(--hero);
    background-color: var(--primaryBrand);
    border: none;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;;
}

.hero-button:hover,
.hero-button:focus{
    background-color: var(--pressedState);
}
/*--Benefits--*/
.title {
    color: var(--dark);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize
    
}

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset (50%);
    margin: -1px;
}
.subtitle {
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text {
    color: var(--text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
/*--Works--*/
/*--Team--*/
.section-team {
    background-color: var(--light);
}
.team-item {
    background-color: var(--hero);
}

.team-item text,
.team-item subtitle {
    text-align: center;
}
/*--Filter--*/

.filter-button {
    color: var(--primaryBrand);
    background-color: var(--accent);
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.filter-button:hover,
.filter-button:focus {
    background-color: var(--pressedState);
    color: var(--hero);
}
/*--Projects--*/
.project-subtitle {
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.project-text {
color: var(--text);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
/*--Footer--*/
.logo-footer {
    color: var(--light);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

footer {
    background-color: var(--dark);
}

.text-footer {
    color: var(--accent);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}