:root {
--primaryBrand: #4d5ae5;
--pressedState: #404bbf;
--dark: #2e2f42;
--success: #31ddaa;
--text: #434455;
--subtleText: #8e8f99;
--accent: #e7e9fc;
--light: #f4f4fd;
--modalOverlay: rgb(46, 47, 66, 0.4);
--heroBackground: rgb(46, 47, 66, 0.7);
--hero: #ffffff;
--body: #e5e5e5;
}

body {
font-family: 'Roboto', sans-serif;
background-color: var(--hero);
color: var(--dark);
}

h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/*--Common--*/

.current {
    color: var(--pressedState);
    
}
.link {
    text-decoration: none;
  }

  .list {
    list-style: none

  }

  .hero-button,
  .filter-button {
    border-radius: 4px; 
    
  }

  *, ::after, ::before {
    box-sizing: border-box;
}
/*--Header--*/
.portfolio {
box-sizing: border-box;
border-bottom: 1px solid var(--accent);
}

.header {
    border-color: var(--accent);
    
}
.header-container {
    display: flex;
    align-items: center;
    
}

.accent-logo {
    color: var(--primaryBrand);
}

.logo {
    color: var(--dark);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-right: 76px;
    margin-left: 0px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    color:var(--dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover,
.nav-item:focus {
    color: var(--pressedState);
}
.nav-item:not(:last-child) {
    margin-right: 40px;
  }

  .link-studio::after {
      position: absolute;
      top: 100%;
      left: 0;
      transform: translate(0, -3px);
      display: block;
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--pressedState);
    
  }

  .link-studio {
    color: var(--pressedState);
  }

  .list-item {
    position: relative;
  }


/*--Contacts--*/

.address {
    font-style: normal;
    margin-left: auto;
}

.contacts-list
{
    display: flex;
    align-items: center;
}
.contacts-item {
color: var(--text);
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-item:hover,
.contacts-item:focus {
    color: var(--pressedState);
}

.list-item:not(:last-child) {
    margin-right: 40px;
}

/*--Hero--*/

.hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/hero.jpg);
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--dark);
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}


.hero-text {
    color: var(--hero);
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    
}

.hero-button {
    color: var(--hero);
    background-color: var(--primaryBrand);
    border: none;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    min-height: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus{
    background-color: var(--pressedState);
}
/*--Benefits--*/
.benefits {
    padding-top: 112px;
    padding-bottom: 128px;
    
}

.list-benefits {

  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.benefits-item {
    flex-basis: calc((100% - 72px) / 4);
    list-style-type: none;

  }

  .benefits-link {
    height: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4fd;
    border-radius: 4px;
  }

  .benefits-content  {
    margin-top: 8px;
  }
  
 
  

 

.title {
    color: var(--dark);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    
}

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset (50%);
    margin: -1px;
}
.subtitle {
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.text {
    color: var(--text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    

}
/*--Works--*/

.works {
    padding-top: 0px;
    padding-bottom: 120px;
}

.works-list {

  display: flex;
  list-style-type: none;
  
  
}

  .works-item:not(:last-child) {
    padding-right: 24px;
}

.works-item:last-child {
    padding-right: 0px;
}
/*--Team--*/
.section-team {
    background-color: var(--light);
    padding-top: 120px;
    padding-bottom: 120px;

}

.team-list {
    display: flex;
  gap: 24px;
}

 .team-item:last-child {
    margin-right: 0px;
 }

.team-item {
    flex-basis: calc((100% - 72px) / 4);
    list-style-type: none;
    background: var(--hero);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

}

.team-text {
    margin-bottom: 8px;
}

.team-item text,
.team-item subtitle {
    text-align: center;
}

.team-item-description {
    
   
    text-align: center;
    padding: 32px 0;
    
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    
  }
  
  .team-soc-item {
    width: 40px;
    height: 40px;
    
  }
  
  .team-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryBrand);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .team-soc-link:hover,
  .team-soc-link:focus {
    background-color: var(--pressedState);
  }

/*--Customers--*/ 

.customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }
  
  .customers-list-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
  }
  
  .customers-list {
    display: flex;
    gap: 24px;
  }
  
  .customers-list-item {
    width: calc((100% - 5 * 24px) / 6);
    height: 88px;
  }
  .customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--subtleText);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--subtleText);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .customers-icon {
    fill: currentColor;
  }
  
  .customers-link:is(:hover, :focus) {
    border-color: var(--pressedState);
    color: var(--pressedState);
  }
/*--Filter--*/

.filter {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter-button {
    color: var(--primaryBrand);
    background-color: var(--accent);
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.filter-button:hover,
.filter-button:focus {
    background-color: var(--pressedState);
    color: var(--hero);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  
}

.filter-item {
    list-style-type: none;
}

.filter-item:not(:last-child) {
    margin-right: 24px;
}
/*--Projects--*/
.projects-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    
}

.project-item {
    flex-basis: calc((100% - 48px) / 3);
    list-style-type: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:last-child {
    margin-right: 0;
}
.project-link {
    display: block;
}



.project-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translate(0, 0);
}

.project-desc {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid var(--accent);
    border-top: none;
}

.project-subtitle {
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.project-text {
color: var(--text);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.project-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: var(--light);
  background-color: var(--primaryBrand);
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
}
/*--Footer--*/

.logo-footer {
    color: var(--light);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

footer {
    background-color: var(--dark);
    padding-top: 100px;
    padding-bottom: 100px;

}

.footer-container {
    display: flex;
    align-items: baseline;
    gap: 120px;
}



.text-footer {
    color: var(--accent);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-top: 16px;
}


.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--hero);
    margin-bottom: 16px;
  }
  
  .footer-social-list {
    display: flex;
    gap: 16px;
  }
  
  .footer-social-item {
    width: 40px;
    height: 40px;
  }


  
  .footer-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-social-link:is(:hover, :focus) {
    background-color: var(--success);
  }
    /*-- Footer Form --*/

    .subscribe-form {
    position: relative;
    }

        .footer-form {
         
         display: flex;
          margin-left: auto;
        }
    
        .footer-form-title {
          color: var(--hero);
          font-weight: 500;
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 2%;
          margin-bottom: 16px;
        }
    
        .footer-form-submit {
          background-color: var(--primaryBrand);
          color: var(--hero);
          line-height: 1.5;
          border: none;
          cursor: pointer;
          border-radius: 4px;
          font-weight: 500;
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 4%;
          margin-left: 16px;
          padding: 8px 16px;
          width: 165px;
          height: 40px;
                  position: relative;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
    
        .footer-form-submit:hover,
        .footer-form-submit:focus {
          background-color: var(--pressedState);
        }
    
        .footer-form-input {
          width: 264px;
          height: 40px;
          border: 1px solid var(--hero);
          background-color: inherit;
          border-radius: 4px;
          
          color: var(--hero);
          font-size: 16px;
          line-height: 1.33;
          padding-left: 16px;
          font-weight: 400;
          transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          
          
        }
    
        .footer-form-input:focus {
          outline: none;
          background-color: inherit;
          color: var(--hero);
          border-color: var(--hero);
        }
    
        
        .footer-form-input-icon {
          position: absolute;
          top: 50%;
          right: 10px;
    
          transform: translateY(50%);
          fill: var(--hero);
          height: 20px;
          width: 24px;
          position: absolute;
        
        }

  /*-- Modal window --*/
  .backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 576px;
    background-color: var(--hero);
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14);
        padding: 72px 24px 24px 24px;
  }
  .modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  .modal-btn-icon {
    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn:hover,
  .modal-btn:focus {
    background-color: var(--pressedState);
  }
  .modal-btn:hover .modal-btn-icon,
  .modal-btn:focus .modal-btn-icon {
    fill: var(--hero);
  }




  /*--LLAA--*/
    .modal-form {
      display: flex;
      flex-direction: column;
    }
  
    .modal-form-title {
      font-weight: 500px;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 2%;
      margin-bottom: 14px;
      color: var(--dark);
      text-align: center;
    }
  
    .modal-form-field {
      margin-bottom: 0px;
    }
  
    .modal-form-input-wraper {
      position: relative;
      display: block;
      margin-bottom: 8px;
    }
  
    .modal-form-input-icon {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translate(0, -50%);
      height: 18px;
      width: 18px;
      fill: var(--dark);
    }
  
    .modal-form-input-icon:hover {
      fill: #4d5ae5;
    }
  
    .modal-form-imput {
      width: 100%;
      height: 40px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      padding-left: 38px;
      color: #000000;
      font-size: 16px;
      line-height: 1.33;
      margin-bottom: 0px;
      font-weight: 400;
  
      transition: border-color250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .modal-form-imput:focus {
      outline: none;
      border-color: var(--primaryBrand);
    }
  
    .modal-form-imput:focus+.modal-form-input-icon {
      fill: var(--primaryBrand);
    }
  
    .modal-form-input-desc {
      display: block;
      font-size: 12px;
      line-height: 1.33;
      margin-bottom: 4px;
      font-weight: 400;
      color: var(--subtleText);
    }
  
    .modal-form-message {
      resize: none;
      width: 100%;
      height: 120px;
      padding: 8px 16px 8px 16px;
      border-radius: 4px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .modal-form-message:focus {
      outline: none;
      border-color: var(--primaryBrand);
    }
  
    .modal-form-check-desc {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.33;
      letter-spacing: 4%;
      color: var(--subtleText);
      margin-top: 8px;
      margin-bottom: 24px;
    }
  
    .modal-form-check-desc::before {
      display: block;
      border: 1.25px solid var(--dark);
      border-radius: 2px;
      width: 16px;
      height: 16px;
      content: "";
      cursor: pointer;
      margin-right: 8px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .modal-form-check:checked+.modal-form-check-desc::before {
      background-color: var(--pressedState);
      border: none;
      outline: none;
      background-image: url(../images/vector.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
  
    .modal-form-check:focus+.modal-form-check-desc::before {
      outline: none;
      border: 2px solid #404bbf;
    }
  
    .modal-form-submit {
      background-color: var(--primaryBrand);
      color: var(--hero);
      line-height: 1.5;
      border: none;
      cursor: pointer;
      border-radius: 4px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 4%;
      margin: auto;
      width: 169px;
      padding: 16px 32px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      margin-bottom: 24px;}
    
